{% extends "index.html" %}

{% block listDevice %}
    {% if '1' in session.admin %}
        <listDevice>
          <div id="listDeviceDiv">
            <h2>List Device</h2>
            <table class="center">
              <tr><th>Name</th><th>User Login</th><th>Status</th><th>Last Update</th><th>Delete</th></tr>
              {% for view in list %}
              <tr>
                <td><a href="{{ url_for('device_api.viewDevice') }}?name={{ view[0] }}" style="text-align:left;">{{ view[0] }}</a></td>
                <td><a href="{{ url_for('user_api.viewUser') }}?login={{ view[1] }}" style="text-align:left;">{{ view[1] }}</a></td>
                <td>{{ view[2] }}</td>
                <td>{{ view[3] }}</td>
                <td><a href="{{ url_for('device_api.deleteDevice') }}?name={{ view[0] }}" style="text-align:left;">X</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </listDevice>
        {% include 'map.html' %}
    {% else %}
        <span>You're not allowed you access to this feature</span>
    {% endif %}
{% endblock %}

