{% extends "index.html" %}
{% block listCustomer %}
    {% if '1' in session.admin %}
        <listCustomer>
          <div id="listCustomerDiv">
            <h2>List Customer</h2>
            <table class="center">
              <tr><th>Login</th><th>Email</th><th>Delete</th></tr>
              {% for view in list %}
              <tr>
                <td><a href="{{ url_for('customer_app.viewCustomer') }}?login={{ view[0] }}" style="text-align:left;">{{ view[0] }}</a></td>
                <td>{{ view[1] }}</td>
                <td><a href="{{ url_for('customer_app.deleteCustomer') }}?login={{ view[0] }}" style="text-align:left;">X</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </listCustomer>
        {% include 'map.html' %}
    {% else %}
        <span>You're not allowed you access to this feature</span>
    {% endif %}
{% endblock %}

