{% block gmap %}
  <gmap>
    <div id="map"></div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(48.858393,2.294468),
          mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.
        var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      var LatLngListTmp = [];
      var coords = JSON.parse( '{{ maps | tojson }}' );
      window.eqfeed_callback = function(results) {
        for (var i = 0; i < coords.length; i++) {
          coordArr = coords[i].toString().split(',');
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(coordArr[0],coordArr[1]),
            map: map
          });
        }
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAP_KEY_API }}&callback=initMap">
    </script>
  </gmap>
{% endblock %}
