{% extends "index.html" %}
{% block newTracking %}
    {% if '1' in session.admin %}
        <newTracking>
          <h2>New Tracking</h2>
          <div id="newTrackingDiv" class="center">
            <form action="newTracking" method="POST">
              <div id="TrackingDiv" class="array">
                <table class="center">
                  <tr><td>User Login</td><td><input type="text" name="ulogin" id="ulogin" placeholder="User Login" /></td></tr>
                  <tr><td>Device Name</td><td><input type="text" name="dname" id="dname" placeholder="Device Name" /></td></tr>
                  <tr><td>IP</td><td><input type="text" name="ip" id="ip" placeholder="IP add" /></td></tr>
                  <tr><td>GPS</td><td><input type="text" name="gps" id="gps" placeholder="GPS" /></td></tr>
                  <tr><td>URL</td><td><input type="text" name="url" id="url" placeholder="URL" /></td></tr>
                  <tr><td>WebSite</td><td><input type="text" name="website" id="website" placeholder="WebSite" /></td></tr>
                  <tr><td>WebHook</td><td><input type="text" name="webhook" id="webhook" placeholder="WebHook" /></td></tr>
                  <tr><td>Address</td><td><input type="text" name="address" id="address" placeholder="Address" /></td></tr>
                </table>
              </div> <!-- Localisation div -->

              <div id="saveTrackingDiv"><a href="#" id="newTrackingSub">Save</a></div>
            </form>
          </div>
        </newTracking>
    {% else %}
        <span>You're not allowed you access to this feature</span>
    {% endif %}
{% endblock %}

