{% extends "index.html" %}
{% block tracker %}
        <tracker>
          <h2>Tracker</h2>
          <div id="gps">
            <form action="tracker" method="POST">
              <div id="TrackerDiv">
                <table class="center">
                  <tr>
                    <td>User Login</td>
                    <td>{% with index=0 %}{% include 'field/login.tpl' %}{% endwith %}</td>
                  </tr>
                    <td>Device Name</td>
                    <td>{% with index=1 %}{% include 'field/name.tpl' %}{% endwith %}</td>
                  </tr>
                  <tr>
                    <td>Timer</td>
                    <td><input type="number" name="timer" id="timer" placeholder="Timer (s)" /></td>
                  </tr>
                  <tr>
                    <td colspan="2"><div id="saveTrackerDiv"><a href="#" id="saveTracker">Save</a></div></td>
                  </tr>
                </table>
              </div> <!-- Object div -->
            </form>
          </div>
        </tracker>
        {% include 'map.html' %}
{% endblock %}

