{% extends "index.html" %}
{% block tracking %}
        <tracking>
          <h2>Tracking</h2>
          <div id="trackingDiv">
            <form action="trackingSub" method="post">
              <div id="TrackingDiv">
                <table class="center">
                  <tr>
                    <td>ID</td>
                    <td><input type="number" name="tracking" id="tracking" placeholder="Tracking ID" value="{% if view is defined %}{{ view[0] }}{% endif %}" readonly /></td>
                  </tr>
                  <tr>
                    <td>User Login</td>
                    <td>{% with index=1 %}{% include 'field/login.tpl' %}{% endwith %}
                  <tr>
                    <td>Device Name</td>
                    <td>{% with index=2 %}{% include 'field/name.tpl' %}{% endwith %}
                  </tr>
                  <tr>
                    <td>IP</td>
                    <td><input type="text" name="ip" id="ip" placeholder="IP add" value="{% if view is defined %}{{ view[3] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>GPS</td>
                    <td><input type="text" name="gps" id="gps" placeholder="GPS" value="{% if view is defined %}{{ view[4] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>URL</td>
                    <td><input type="text" name="url" id="url" placeholder="URL" value="{% if view is defined %}{{ view[5] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>WebSite</td>
                    <td><input type="text" name="website" id="website" placeholder="WebSite" value="{% if view is defined %}{{ view[6] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>WebHook</td>
                    <td><input type="text" name="webhook" id="webhook" placeholder="WebHook" value="{% if view is defined %}{{ view[7] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td><input type="text" name="address" id="address" placeholder="Address" value="{% if view is defined %}{{ view[8] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Timestamp</td>
                    <td><input type="text" name="timestamp" id="timestamp" placeholder="Timestamp" value="{% if view is defined %}{{ view[9] }}{% endif %}" /></td>
                  </tr>
                </table>
              </div> <!-- Tracking div -->
              <div id="saveTrackingDiv"><a href="#" id="saveTracking">Save</a></div>
            </form>
          </div>
        </tracking>
        {% include 'map.html' %}
{% endblock %}

