{% extends "index.html" %}
{% block user %}
        <user>
          <h2>User</h2>
          <div id="userDiv">
            <form action="userSub" method="post">
              <div id="UserDiv">
                <table class="center">
                  <tr>
                    <td>ID</td>
                    <td><input type="number" name="uid" id="uid" placeholder="User ID" value="{% if view is defined %}{{ view[0] }}{% endif %}" readonly /></td>
                  </tr>
                  <tr>
                    <td>Login</td>
                    <td><input type="text" name="login" id="login" placeholder="Login" value="{% if view is defined %}{{ view[1] }}{% endif %}" {% if view is defined %}readonly{% endif %} /></td>
                  </tr>
                  <tr>
                    <td>Firstname</td>
                    <td><input type="text" name="firstname" id="firstname" placeholder="Firstname" value="{% if view is defined %}{{ view[2] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Lastname</td>
                    <td><input type="text" name="lastname" id="lastname" placeholder="Lastname" value="{% if view is defined %}{{ view[3] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id="email" placeholder="Email" value="{% if view is defined %}{{ view[4] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td><input type="text" name="address" id="address" placeholder="Address" value="{% if view is defined %}{{ view[5] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Enterprise</td>
                    <td><input type="text" name="enterprise" id="enterprise" placeholder="Enterprise" value="{% if view is defined %}{{ view[6] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Group</td>
                    <td>{% with index=7 %}{% include 'field/group.tpl' %}{% endwith %}
                  <tr>
                    <td>Mobile</td>
                    <td><input type="text" name="mobile" id="mobile" placeholder="Mobile" value="{% if view is defined %}{{ view[8] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" id="password" placeholder="Password" value="{% if view is defined %}{{ view[9] }}{% endif %}" /></td>
                  </tr>
                  <tr>
                    <td>Admin</td>
                    <td>{% with index=10 %}{% include 'field/admin.tpl' %}{% endwith %}
                  </tr>
                </table>
              </div> <!-- user div -->
              <div id="saveUserDiv"><a href="#" id="saveUser">Save</a></div>
            </form>
          </div>
        </user>
        {% include 'map.html' %}
{% endblock %}

