{% extends "index.html" %}
{% block viewTracking %}
        <viewTracking>
          <h2>View Tracking</h2>
          <div id="viewTrackingDiv">
            <form action="viewTrackingSub" method="post">
              <div id="TrackingDiv" class="array">
                <table class="center">
                  <tr><td>ID</td><td><input type="number" name="tid" id="tid" placeholder="Tracking ID" value="{{ view[0] }}" readonly /></td></tr>
                  <tr><td>User Login</td><td><input type="text" name="login" id="login" placeholder="User Login" value="{{ view[1] }}" /></td></tr>
                  <tr><td>Device Name</td><td><input type="text" name="name" id="name" placeholder="Device name" value="{{ view[2] }}" /></td></tr>
                  <tr><td>IP</td><td><input type="text" name="ip" id="ip" placeholder="IP add" value="{{ view[3] }}" /></td></tr>
                  <tr><td>GPS</td><td><input type="text" name="gps" id="gps" placeholder="GPS" value="{{ view[4] }}" /></td></tr>
                  <tr><td>URL</td><td><input type="text" name="url" id="url" placeholder="URL" value="{{ view[5] }}" /></td></tr>
                  <tr><td>WebSite</td><td><input type="text" name="website" id="website" placeholder="WebSite" value="{{ view[6] }}" /></td></tr>
                  <tr><td>WebHook</td><td><input type="text" name="webhook" id="webhook" placeholder="WebHook" value="{{ view[7] }}" /></td></tr>
                  <tr><td>Address</td><td><input type="text" name="address" id="address" placeholder="Address" value="{{ view[8] }}" /></td></tr>
                  <tr><td>Timestamp</td><td><input type="text" name="timestamp" id="timestamp" placeholder="Timestamp" value="{{ view[9] }}" /></td></tr>
                </table>
              </div> <!-- Tracking div -->
              <div><a href="#" id="updateTracking">Update</a></div>
            </form>
          </div>
        </viewTracking>
{% endblock %}

